.example-container {
    height: 100vh;
}

.toggle-button {
    position: absolute;
    bottom: 1rem;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.open-button {
    position: absolute;
    bottom: 1rem;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

mat-icon {
    font-size: 24px;
}

mat-list {
    padding-top: 5rem;
}

.active-link {
background: #e1e9f3;
}

.inner-child{
    padding: 25px 20px 0 20px;
}

.mat-drawer.mat-drawer-side{
    width: 250px !important;
    border: none !important;
}

.comp-logo{
    text-align: center;
    margin-top: 1rem;
}

.logo-comp{
    width: 12rem;
}

.example-spacer {
    flex: 1 1 auto;
}

.logout-btn{
    border: none !important;
    cursor: pointer;
}

::ng-deep .mat-drawer-inner-container{
    background-color: #f1f1f1;
}

::ng-deep .mat-toolbar-row, .mat-toolbar-single-row{
    background-color: #f1f1f1;
}