.example-container {
    height: 100vh;
}

.toggle-button {
    position: absolute;
    bottom: 1rem;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.open-button {
    position: absolute;
    bottom: 1rem;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

mat-icon {
    font-size: 24px;
}

mat-list {
    padding-top: 25px;
}

.inner-child{
    padding: 25px 20px 0 20px;
}

.mat-drawer.mat-drawer-side{
    width: 250px !important;
}

.comp-logo{
    text-align: center;
    margin-top: 1rem;
}

.logo-comp{
    width: 12rem;
}

::ng-deep .mat-drawer-inner-container{
    background-color: #f1f1f1;
}