<div class="mainBody">
    <h2>File upload page</h2>
    <mat-card>
        <mat-card-content>
          <input type="file" (change)="onFileSelected($event)" #fileInput accept=".csv, .xls, .xlsx" multiple hidden>
          <button mat-raised-button (click)="fileInput.click()" class="upload-button">Choose File</button>
          <mat-list>
            <mat-list-item *ngFor="let file of selectedFiles">{{ file.name }}</mat-list-item>
          </mat-list>
          <div class="loader-btn">
            <button (click)="onReset(fileInput)" mat-button>Reset</button>
            <button (click)="onUpload(fileInput)" mat-raised-button color="primary" [disabled]="selectedFiles.length == 0">Upload</button> &nbsp;
            <mat-spinner *ngIf="loaderFlag" style="height: 30px;width: 30px;"></mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
</div>